@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Angelina"; 
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<form asp-page="/Thanks" method="POST">
    <label for="firstName">First Name:</label>
	<input id="firstName" name="firstName" type="text">

	<label for="lastName">Last Name:</label>
	<input id="lastName" name="lastName" type="text">

	<label for="email">Email:</label>
	<input id="email" name="email" type="text">

	<input id="submit" name="submit" type="submit" />
</form>
